{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}About | {{ block.super }}{% endblock %}

{% block content %}



  <div class="row">
    <div class="col-sm-6">
      <h2>About Us</h2>
      We are looking forward to seeing you at the Microsoft Tech Summit.
      We have good news: the Session Manager is now live! You can search and
      choose sessions that will be delivered by Microsoft's top engineers and
      experts and add them to your calendar.
      Come learn about upgrading your existing enterprise infrastructure and
      building new solutions with Microsoft Azure. Learn how to deploy, manage
      and drive usage across Microsoft365, including the latest from Office365,
      Windows10 and EMS.
    </div>
    <div class="col-sm-6">

    </div>
  </div>



{% endblock %}
