<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block head_title %}Toufik{% endblock %}</title>

    {% include "head_css.html" %}

  </head>

  <body>
    {% include "navbar.html" %}

    {% if not request.user.is_authenticated %}
      {% block jumbotron %}
      {% endblock %}
    {% endif %}

    <main role="main">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>


    <footer class="container">
      <hr>
      <p>&copy; Toufik 2018</p>
    </footer>

    {% include "javascript.html" %}

  </body>
</html>
