{% load static %}
<!-- Bootstrap core JavaScript
================================================== -->


<!-- <script src="{% static '/js/jquery-3.2.1.slim.min.js' %}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src='{% static "/js/bootstrap.min.js" %}'></script>


<script>
  $(document).ready(function() {

    // $all = $("[class = 'col-md-4']");
    // //console.log($all.first().index());
    // $(document).mousemove(function(event) {
    //   $target = $(event.target);
    //   $attribut = $target.attr("class");
    //   //var $circle1 = $target.siblings('div').children().children().first();
    //
    //   if ($attribut === "btn btn-secondary") {
    //     var $circle = $target.parent().siblings('div').children().children().first();
    //     console.log($circle);
    //     //$selected = $target.find(".col-md-4");
    //     //var $circle1 = $target.siblings('div').children().children().first();
    //     $circle.css('color', '#ff5a5f');
    //     $circle.fadeTo('slow', 1);
    //     //console.log($circle1);
    //   }
    //   else {
    //
    //     //var $circle1 = $target.siblings('div').children().children().first();
    //     //console.log($circle1);
    //     var $circle = $target.parent().siblings('div').children().children().first();
    //     $circle.css('color', '#008489');
    //     $circle.fadeTo('slow', 0.6);
    //   }
    //
    //   var isCodingHover = $("[class = 'col-md-4']").eq(1).is(":hover");
    //   if (isCodingHover === true) {
    //     console.log("is_hovered");
    //
    //   }
    // });


    $(".btn-secondary").hover(function() {
      /* Stuff to do when the mouse enters the element */
      var $circle = $(this).parent().siblings('div').children().children().first();
      var $text = $(this).parent().siblings('.lead');
      console.log($text);
      //$selected = $target.find(".col-md-4");
      //var $circle1 = $target.siblings('div').children().children().first();
      $circle.css('color', '#ff5a5f');
      $text.css('font-size', '1.3rem');
      $circle.fadeTo('slow', 1);
      $circle.slideDown();

    }, function() {
      /* Stuff to do when the mouse leaves the element */
      var $circle = $(this).parent().siblings('div').children().children().first();
      $circle.css('color', '#ff5a5f');
      $circle.fadeTo('slow', 0.6);
    });






    // $("[class = 'col-md-4']").eq(1).on('mouseover', function(event) {
    //   event.preventDefault();
    //   var $circle = $(this).find("#cirlce1")
    //   $circle.css('color', '#ff5a5f');
    //   $circle.fadeTo('slow', 1 , function() {
    //     $(this).children().first().addClass('fa-8x');
    //   });
    //
    // });
    //
    // $('#coding').on('mouseleave', function(event) {
    //   event.preventDefault();
    //   $(this).find("#code").css('color', '#008489');
    //   $(this).children().first().removeClass('fa-8x');
    // });

  });
</script>
