/* .navbar {
    padding: .3rem 1rem;
} */

main {
  padding-top: 1rem;

}



.jumbotron {
  /* background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  margin-bottom: 70px;
  background-image: linear-gradient(to right top, #ffffff, #d5dce9, #9fbcd2, #5fa0b3, #008489);
  color: #FFFFFF;
}

.btn-primary {
  background-color: #ff5a5f;
  border: 0px;
}

.grey {
  color: #484848;
}

/* Text CSS */
/* Center the text */
.center {
  text-align: center;

}
/* justify the text */
.justify {
  text-align: justify;
  text-justify: inter-word;
}


/* Icons CSS */
.material-icons {
  vertical-align: bottom;
}
.md-24 {
  font-size: 24px;
}

/* navbar CSS */
.form-group{
    padding-right: 5px;
}

nav {
  background-color: #ff5a5f!important;
}
